<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>

<h1>Pedidos</h1>
<hr>

<h4>forEach sem tabela:</h4>
    <% pedidos.forEach((pedido)=>{%>
        Produto: <%= pedido.produto %><br>
        Valor: <%= pedido.valor %> <br><br>
    <%})%>

<h4>forEach com tabela:</h4>
    <table border="1">
        <tr>
            <th width="150px">Produto:</th>
            <th>Preço:</th>
        </tr>
            <% pedidos.forEach((pedido)=>{ %>
        <tr>
            <td><%= pedido.produto %></td>
            <td><%= pedido.valor %></td> 
        </tr>
            <% }) %>
    </table>

<%- include ('partials/footer.ejs')%>