<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

        <div class="container">
            <div class="card">
                <div class="card-header">
<<<<<<< HEAD
                    <h1>Cadastrar cliente</h1>
                </div>
                <div class="card-body">
                    <form action="/clientes/new" method="post">
                        <label>Nome do cliente:</label>
                        <input type="text" name="nome" id="nome" placeholder="Insira o nome do cliente" class="form-control" required>

                        <label>CPF do cliente:</label>
                        <input type="text" name="cpf" id="cpf" placeholder="Insira o CPF do cliente" class="form-control" required>

                        <label>Endereço do cliente:</label>
                        <input type="text" name="endereco" id="endereco" placeholder="Insira endereço do cliente" class="form-control" required>
                        <br>
                        <input type="submit" class="btn btn-success" value="Cadastrar">
                    </form>
                    <hr>
                </div>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="card">
                <div class="card-header">
=======
>>>>>>> ff7413f4cc559fc882bd556d8ba348b8d4799cb6
                    <h1>Clientes</h1>
                </div>
                <div class="card-body">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nome:</th>
                                <th>CPF:</th>
                                <th>Endereço:</th>
<<<<<<< HEAD
                                <th colspan="2">Ações</th>
=======
>>>>>>> ff7413f4cc559fc882bd556d8ba348b8d4799cb6
                            </tr>
                        </thead>
                        <tbody>
                            <% clientes.forEach(cliente=> { %>
                                <tr>
                                    <td><img src="imgs/avatar.png" width="30px"></td>
                                    <td>
                                        <%= cliente.nome %>
                                    </td>
                                    <td>
                                        <%= cliente.cpf %>
                                    </td>
                                    <td>
                                        <%= cliente.endereco %>
                                    </td>
<<<<<<< HEAD
                                    <td><a style="color: orange;" href="/clientes/edit/<%= cliente.id %>">Editar</a></td>
                                    <td><a style="color:red;" href="/clientes/delete/<%= cliente.id %>" onclick="return confirm('Deseja realmente deletar o cliente <%= cliente.nome %>')">Deletar</a></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <hr>
=======
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
>>>>>>> ff7413f4cc559fc882bd556d8ba348b8d4799cb6
                </div>
            </div>
        </div>

<%- include ('partials/footer.ejs') %>